/node_modules
/output
/arquived
/test
/src
/package-lock.json
/eslint.config.js
/build.ts
/.github
/.vscode
/build

.gitignore
.gitattributes

fixup.sh
pnpm-lock.yaml

eslint.config.js

tsconfig.json
tsconfig.cjs.json
tsconfig.dts.json
tsconfig.mjs.json

bun.lockb